<header>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <img class="img-responsive" src="assets/img/profile.png" alt="">
                <h1>Sharing tunes hasn't been this convinient since Kazaa!</h1>
                <div class="intro-text">
                    <div ui-view="createroom"></div>
                    <div ui-view="joinroom"></div>
                    
                    <create-room></create-room>
                    <join-room></join-room>
                </div>
            </div>
        </div>
    </div>
</header>