<div id="frame" class="container">
    <h1>{{roomName}}</h1>

    <div id="player"></div>
    <youtube width="960" height="585" video-id="searchCtrl.videoId"></youtube>

    <div infinite-scroll="scrollDown()" infinite-scroll-distance="0">
        <table class="table">
            <tr ng-repeat="item in searchResultsArray">
                <td><img ng-src="{{item.snippet.thumbnails.medium.url}}">
                </td>
                <!--<td><a ng-click="loadYTVideo(item.id.videoId)">{{item.snippet.title}}</a></td>-->
                <td><a href ng-click="addMedia(item.id.videoId,item.snippet.title,item.snippet.thumbnails.default.url)">{{item.snippet.title}}</a>
                </td>
            </tr>
        </table>
    </div>


    <div ui-view="search"></div>
    <div ng-controller="queueController">
        <queue info="queueArray"></queue>
    </div>

</div>