<div id="frame" class="container">
    <h1>{{roomName}}</h1>
    <div id="player"></div>
    <youtube width="640" height="390" video-id="searchCtrl.videoId"></youtube>

    <form id="hello" ng-submit="submitSearch()">
        <button class="btn" ng-click="play()">Play</button>
        <button class="btn" ng-click="pause()">Pause</button>
    </form>
    <div infinite-scroll="scrollDown()" infinite-scroll-distance="0">
        <table class="table">
            <tr ng-repeat="item in searchResultsArray">
                <td><img ng-src="{{item.snippet.thumbnails.medium.url}}">
                </td>
                <!--<td><a ng-click="loadYTVideo(item.id.videoId)">{{item.snippet.title}}</a></td>-->
                <td><a href ng-click="addMedia(item.id.videoId)">{{item.snippet.title}}</a>
                </td>
            </tr>
        </table>
    </div>


    <div ui-view="search"></div>
    <queue control="queueControl"></queue>
</div>