<div id="frame" class="container">Hello World!
    <div id="player"></div>
    <!--<youtube width="640" height="390" video-id="searchCtrl.videoId"></youtube>-->

    <form id="hello" ng-submit="submitSearch()">
        <div class="form-group">
            <label>Search YouTube</label>
            <input type="search" class="form-control" id="searchInput" placeholder="search" ng-model="searchValue">
        </div>
        <button type="button" class="btn btn-default" ng-click="setApiKey()">Set API key</button>
        <button class="btn btn-default" type="submit"> Search</button>
        <button class="btn" ng-click="play()">Play</button>
        <button class="btn" ng-click="pause()">Pause</button>

    </form>

    <table class="table">
        <tr ng-repeat="item in searchResults.items">
            <td><img ng-src="{{item.snippet.thumbnails.medium.url}}">
            </td>
            <!--<td><a ng-click="loadYTVideo(item.id.videoId)">{{item.snippet.title}}</a></td>-->
            <td><a ng-click="addMedia(item.id.videoId)">{{item.snippet.title}}</a>
            </td>
        </tr>
        <tr>
            <td><a ng-click="previousPage()">Previous</a>
            </td>
            <td><a ng-click="nextPage()">Next</a>
            </td>
        </tr>
    </table>

    <div ng-controller="menuController">
        <button class="nav-toggler toggle-push-left">Push Menu Left</button>
    </div>

    <nav class="menu push-menu-left">
        <form ng-submit="submitSearch()">
            <div class="form-group">
                <div class="inner-addon right-addon">
                    <i class="glyphicon glyphicon-search"></i>
                    <input type="text" class="form-control" placeholder="Search" ng-model="searchValue" />
                </div>
            </div>
        </form>
        {{ searchResults.items == undefined }}
        <div ng-show="{{ searchResults.items == undefined }}">
            <i class="fa fa-search fa-5x"></i>
            <br>
            <strong>Find your favorite music to add to this playlist</strong>
            <br> Search as you would on YouTube
        </div>
        <ul>
            <li>
                <button class="close-menu">&larr; Close</button>
            </li>
            <li ng-repeat="item in searchResults.items">
                <div class="col-xs-12 song-result nopadding">
                    <div class="row">
                        <div class="col-xs-3">
                            <div class="song-result-thumbnail">
                                <img ng-src="{{item.snippet.thumbnails.default.url}}">
                            </div>
                        </div>
                        <div class="col-xs-9">
                            <a ng-click="addMedia(item.id.videoId)">{{item.snippet.title}}</a>
                        </div>
                    </div>
                </div>
            </li>
            <li><a href="#">Tomato</a>
            </li>
            <li><a href="#">Cucumber</a>
            </li>
            <li><a href="#">Kale</a>
            </li>
            <li><a href="#">Celery</a>
            </li>
        </ul>
    </nav>
    <!-- /push menu left -->

</div>