<div class="container">
    <h1 class="page-header">
        Welcome to Music Broadcaster
        <small>please proceed.</small>
    </h1>

    <form class="container">
        <ul>
            <li><a ng-click="createRoom()">Create room</a> <input type="text" class="form-control" aria-label="..."
                                                                  ng-model="roomName"></li>
            <li><a ui-sref="room.music" ng-click="connect()">Join room</a> <input type="text" class="form-control"
                                                                                  aria-label="..." ng-model="roomName">
            </li>
        </ul>
    </form>

    <div ui-view></div>

</div>