<div class="container">
    <div class="row">
        <div class="col-md-5">
            <h1 class="footer-logo">
						<img src="assets/img/logo-blue.png" alt="Footer Logo Blue">
						</h1>
            </p>
        </div>
        <div class="col-md-7">
            <ul class="footer-nav">
                <li><a href="#about">About</a>
                </li>
                <li><a href="#features">Features</a>
                </li>
                <li><a href="#screenshots">Screenshots</a>
                </li>
                <li><a href="#download">Download</a>
                </li>
            </ul>
        </div>
    </div>
</div>