<!--<div class="tile">-->
<!--<img src="img/icons/svg/compas.svg" class="tile-image big-illustration">-->
<!--<h3 class="tile-title">Web Oriented</h3>-->
<!--<p>100% convertable to HTML/CSS layout.</p>-->
<!--<a class="btn btn-primary btn-large btn-block" href>Remove</a>-->
<!--</div>-->
<div class="song-result-container">
    <div ng-repeat="item in control">
        <div class="row">
            <div class="col-xs-11">
                {{item.displayName}}
            </div>
            <div class="col-xs-1">
                <button class="btn btn-danger btn-block">delete</button>
            </div>
            <hr>
        </div>
    </div>
</div>