<!--<div class="tile">-->
<!--<img src="img/icons/svg/compas.svg" class="tile-image big-illustration">-->
<!--<h3 class="tile-title">Web Oriented</h3>-->
<!--<p>100% convertable to HTML/CSS layout.</p>-->
<!--<a class="btn btn-primary btn-large btn-block" href>Remove</a>-->
<!--</div>-->

<div class="header">Hello this is meant to be a queue</div>

<div>
    <table class="table">
        <tr ng-repeat="item in queueArray">
            <td><img ng-src="{{item.snippet.thumbnails.medium.url}}">
            </td>

            <td><a href ng-click="addMedia(item.id.videoId)">{{item.snippet.title}}</a>
            </td>
        </tr>
    </table>
</div>

<div ng-controller="queueController">
    <button ng-click="getQueue()">getQueue</button>
</div>


<button ng-click="queueControl.updateQueue()">Update Queue {{internalControl}}</button>